@import '../../node_modules/@coreui/coreui/scss/bootstrap.scss'; 
@import '../../node_modules/@coreui/coreui/scss/coreui.scss'; 



button.small {
    width:  150px;
}


.c-sidebar {
    color: #fff;
    background: #ffa406;
    a {
       color: rgb(0, 51, 255) !important
    }
}

